<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <a href="/admin/categories/new"><button class="btn btn-warning">Categoria</button></a>
</body>
<%- include('partials/footer.ejs') %>