<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style-login.css">
    <title>Login</title>
</head>

<body>
    <div class="logo">
       <a href="/"><ion-icon name="home-sharp"></ion-icon></a>
    </div>
    <div class="container">
        <h1>Entre com sua conta</h1>
        <div class="social-login">
            <button class="google">
                <i class='bx bxl-google'></i>
                 Google
            </button>
        </div>
        <div class="divider">
            <div class="line"></div>
        </div>
        <form>
            <label for="email">Email:</label>
            <div class="custome-input">
                <input type="email" name="email" placeholder="Seu Email" autocomplete="off">
                <i class='bx bx-at'></i>
            </div>
            <label for="password">Password:</label>
            <div class="custome-input">
                <input type="password" name="password" placeholder="Sua Senha">
                <i class='bx bx-lock-alt'></i>
            </div>
            <button class="login">Login</button>
            <div class="links">
                <a href="#">Não possui uma conta?</a>
            </div>
        </form>
    </div>
</body>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>